<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CSE225Android">
        <activity
            android:name=".LoginPage"
            android:exported="false"
            android:label="@string/title_activity_login_page"
            android:theme="@style/Theme.CSE225Android" />
        <activity
            android:name=".ProjectAlarm"
            android:exported="true"
            android:label="@string/title_activity_project_alarm"
            android:theme="@style/Theme.CSE225Android">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".AlarmReceiver"
            android:exported="true" />
        <receiver
            android:name=".ButtonReceiver"
            android:exported="false" />

        <activity
            android:name=".PendingIntentActivity"
            android:exported="false"
            android:label="@string/title_activity_pending_intent"
            android:theme="@style/Theme.CSE225Android" />
        <activity
            android:name=".Activity3LastScreen"
            android:exported="false"
            android:label="@string/title_activity_activity3_last_screen"
            android:theme="@style/Theme.CSE225Android" />
        <activity
            android:name=".Activity3RatingBar"
            android:exported="false"
            android:label="@string/title_activity_activity3_rating_bar"
            android:theme="@style/Theme.CSE225Android" />
        <activity
            android:name=".Activity3Grids"
            android:exported="false"
            android:label="@string/title_activity_activity3_grids"
            android:theme="@style/Theme.CSE225Android" />
        <activity
            android:name=".Activity3Spinner"
            android:exported="false"
            android:label="@string/title_activity_activity3_spinner"
            android:theme="@style/Theme.CSE225Android" />
        <activity
            android:name=".Activity3MenuBar"
            android:exported="false"
            android:label="@string/title_activity_activity3_menu_bar"
            android:theme="@style/Theme.CSE225Android" />
        <activity
            android:name=".ACTIVITY3"
            android:exported="false"
            android:label="@string/title_activity_3"
            android:theme="@style/Theme.CSE225Android" />
        <activity
            android:name=".MenuBar"
            android:exported="false"
            android:label="@string/title_activity_menu_bar"
            android:theme="@style/Theme.CSE225Android" />
        <activity
            android:name=".RatingBar"
            android:exported="false"
            android:label="@string/title_activity_rating_bar"
            android:theme="@style/Theme.CSE225Android" />
        <activity
            android:name=".Dashboard"
            android:exported="false"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/Theme.CSE225Android" />
        <activity
            android:name=".ACTIVITY2"
            android:exported="false"
            android:label="@string/title_activity_2"
            android:theme="@style/Theme.CSE225Android" />
        <activity
            android:name=".ACTIVITY1"
            android:exported="false"
            android:label="@string/title_activity_1"
            android:theme="@style/Theme.CSE225Android" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.CSE225Android" />
    </application>

</manifest>