<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="CSE225Android"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CSE225Android">
        <activity
            android:name=".ACTIVITY8"
            android:exported="false"
            android:label="@string/title_activity_8"
            android:theme="@style/Theme.CSE225Android" />
        <activity
            android:name=".NavigationDemoApp"
            android:exported="true"
            android:label="@string/title_activity_navigation_demo_app"
            android:theme="@style/Theme.CSE225Android">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RuntimePermissionExample"
            android:exported="false"
            android:label="@string/title_activity_runtime_permission_example"
            android:theme="@style/Theme.CSE225Android" />
        <activity
            android:name=".ACTIVITY7"
            android:exported="false"
            android:label="@string/title_activity_7"
            android:theme="@style/Theme.CSE225Android" />
        <activity
            android:name=".ScopedStorageExample"
            android:exported="false"
            android:label="@string/title_activity_scoped_storage_example"
            android:theme="@style/Theme.CSE225Android" />
        <activity
            android:name="datastorepreferencedatastore.MainActivity"
            android:exported="false"
            android:theme="@style/Theme.CSE225Android" />
        <activity
            android:name=".Dashboard"
            android:exported="false" />
        <activity
            android:name=".MenuBar"
            android:exported="false" />
        <activity
            android:name=".Activity3MenuBar"
            android:exported="false" />
        <activity
            android:name=".Activity3Grids"
            android:exported="false" />
        <activity
            android:name=".Activity3RatingBar"
            android:exported="false" />
        <activity
            android:name=".Activity3LastScreen"
            android:exported="false" />
        <activity
            android:name=".Activity3Spinner"
            android:exported="false" />
        <activity
            android:name=".ACTIVITY1"
            android:exported="false" />
        <activity
            android:name=".ACTIVITY2"
            android:exported="false" />
        <activity
            android:name=".ACTIVITY3"
            android:exported="false" />
        <activity
            android:name=".ACTIVITY4"
            android:exported="false" />
        <activity
            android:name=".ACTIVITY5"
            android:exported="false" />
        <activity
            android:name=".ACTIVITY6"
            android:exported="false" />
        <activity
            android:name=".LoginPage"
            android:exported="false" />
        <activity
            android:name=".RatingBar"
            android:exported="false" />
        <activity
            android:name=".FlashcardApp"
            android:exported="false" />
        <activity
            android:name=".ProjectAlarm"
            android:exported="false" />
        <activity
            android:name=".IntentActivity1"
            android:exported="false" />
        <activity
            android:name=".NavigationExample"
            android:exported="false" />
        <activity
            android:name=".ProjectDatePicker"
            android:exported="false" />
        <activity
            android:name=".NotificationProject"
            android:exported="false" />
        <activity
            android:name=".ProjectJobScheduler"
            android:exported="false" />
        <activity
            android:name=".ACTIVITY4SecondScreen"
            android:exported="false" />
        <activity
            android:name=".MaterialFoundationEx1"
            android:exported="false" />
        <activity
            android:name=".PendingIntentActivity"
            android:exported="false" />
        <activity
            android:name=".DrawerNavigationExample"
            android:exported="false" />
        <activity
            android:name=".MaterialFoundationExample"
            android:exported="false" />

        <service
            android:name=".Activity6JobService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".MyJobService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver
            android:name=".AlarmReceiver"
            android:exported="false" />
        <receiver
            android:name=".ButtonReceiver"
            android:exported="false" />
        <receiver
            android:name=".SnoozeReceiver"
            android:exported="false" />
        <receiver
            android:name=".Activity6AlarmReceiver"
            android:exported="false" />
    </application>

</manifest>